extends Templates/page

block append config 
    - current_page = 'About'

block append head 
    link(rel="stylesheet", href=require("./about.scss"))
    script(src=require("./about.js") defer) 

block body 
    h1 About
    a(href="index.html") Index
    img.fadein(src=require("Assets/img/jpg/bg.jpg"), alt="image")
