doctype html
html(lang="en")
    block config    
        include Includes/config
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="http://localhost:35729/livereload.js" defer)   
        block head
            title= (current_page) ? site_name + ' | ' + current_page : site_name

    body 
        block body
            h1 Default Body