doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="http://localhost:35729/livereload.js" defer)   
        include Includes/config      
        block head
        - const title = (head && head.title) ? head.title : site_name
        title #{title}
    body 

block body